@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

::-moz-selection {
    background-color: #f0cb41; 
    color: #000000;
}

::selection {
    background-color: #f0cb41; 
    color: #000000;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.0);     
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.nav__logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
.nav__title{
    font-family: 'Grotesk', sans-serif;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 20px;
    text-transform: capitalize;
}

.nav__menu-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.nav__item{
    font-weight: 300;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.nav__link{
    color: #a5a5a5;
    text-decoration: none;
}

.nav__link:hover{
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f0cb41;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn--primary{
    height: 60px;
    background-color: #f0cb41;
    color: #000000;
}

.btn__icon {
    font-size: 0.85em; 
}


/* Hero section */

.hero{
    background-image: url('../assets/images/hero/hero-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 100px;
}
.hero__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__location{
    position: relative;
    font-family: 'Grotesk', sans-serif;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 60px;
}

.hero__location::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: #f0cb41;
}

.hero__title{
    font-family: 'Grotesk', sans-serif;
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}
.hero__title--enfasis{
    color: #f0cb41;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
}

.hero__description{
    font-family: 'Grotesk', sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    max-width: 600px;
    padding-bottom: 50px;
}

/* botnoes */
.hero__actions{
    display: flex;
    gap: 20px;
}

.btn--secondary{
    background-color: rgba(0, 0, 0, 0.0);     
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(12px);
    color: #fff;
    border: 2px solid #fff;
}

.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* la experiencia section */

.experience{
    height: 100vh;
    width: 100%;
    background-color: #f7f1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;     
    padding-left: 200px;     
    gap: 80px;
}

.experience__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    max-width: 600px;
}
.experience__title{
    font-family: 'Grotesk', sans-serif;
    color: #000000;
    font-size: 3.5rem;
    font-weight: lighter;
    line-height: 1.5;
}
.experience__title--enfasis{
    color: #A83627;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
}

.experience__details{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.experience__text{
    font-family: 'Grotesk', sans-serif;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    max-width: 400px;
}
.experience__text--principal{
    font-size: 2rem;
    /* margin-bottom: 20px; */
}

.experience__text--secundario{
    font-size: 1rem;
    color: #4d4d4d;
    /* margin-bottom: 20px; */
}
.link {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex; 
    align-items: center; 
    gap: 15px;
}

.link--primary {
    color:#A83627;
    margin-top: 50px;
    position: relative;
}

.link--primary::before{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #A83627;
}

.why{
    width: 100%;
    height: 100vh;
    background-color: #f0dfc0;
    display: flex;
    place-items: center;
}
.why__wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.why__wrapper::before{
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%); /* Centra la línea */
    width: 70%;
    height: 2px;
    background-color: #A83627;
    /* content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    margin: 0 auto;
    width: 70%;
    height: 2px;
    background-color: #A83627; */
}

.why__item{
    max-width: 350px;
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.why__number{
    color: #A83627;
    font-size: 1rem;
}
.why__title{
    color: #000;
    font-size: 2rem;
    font-weight: 500;
}

.why__description{
    max-width: 200px;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}

/* chivas seccion */

/* --- SECCIÓN PRINCIPAL --- */
.chivas {
    width: 100%;
    min-height: 100vh;
    background-color: #160c07;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 50px 80px;
}

.chivas__part {
    color: #f0cb41;
    font-size: 1rem;
    text-transform: uppercase;
}

.chivas__header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    gap: 40px;
}

.chivas__title {
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    text-align: left;
}
.chivas__title--enfasis {
    color: #f0cb41;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
}

.chivas__description {
    max-width: 500px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.chivas__gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    margin-top: 60px;
    padding: 0;
}

.chiva-card {
    display: flex;
    flex-direction: column;
    background-color: #24150e;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.chiva-card:hover {
    transform: translateY(-5px);
}

.chiva-card__header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.chiva-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link--secondary {
    color: #f0cb41;
    padding: 10px;
    position: relative;
    align-self: flex-start;
}

.link--secondary::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f0cb41;
}